body {
    font-family: 'Poligon';
    color: #ffffffb7;

    background-image: url(./background.png);

    margin: 0px;
    padding: 0px;
}

a {
    color: #4ea7ff;
}

.thumbnail {
    height: 70vh;
}

.centered-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
}

.panel {
    background-color: #ffffff08;
    
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #ffffff05;

    backdrop-filter: blur(8px);

    -webkit-box-shadow: -4px 4px 19px 6px rgba(0,0,0,0.3); 
    box-shadow: -4px 4px 19px 6px rgba(0,0,0,0.3);
}

.row-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar {
    width: 80px;
    height: 80px;

    -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.42); 
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.42);
    
    border-radius: 40px;
}

.socials-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 60px;
    margin: 8px;
}

.name {
    font-weight: 400;

    margin: 8px;
    margin-bottom: 0px;
}

.social-img {
    opacity: 0.7;

    width: 25px;
    height: 25px;

    transition: 0.5s;
}

.social-img:hover {
    transform: scale(1.1);
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;

    height: 30vh;
}

.drop-down-button {
    cursor: pointer;

    font-size: 22px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 400px;
    height: 30px;
    margin: 20px;

    user-select: none;
}

.drop-down-arrow {
    width: 20px;
    height: 20px;

    opacity: 0.7;

    transform: rotate(180deg);
    transition: 0.5s;
}

.drop-down {
    display: none;

    position: absolute;

    width: calc(100% - 20px);
    height: auto;

    left: 0px;
    bottom: 0px;
    padding-bottom: 60px;
}

::selection {
    background-color: rgba(159, 89, 216, 0.382);
}

::-moz-selection {
    background-color: rgba(159, 89, 216, 0.382);
}