@font-face {
    font-family: 'HeHe';
    src: url(./Poligon-Regualr.otf) format("opentype");
}

body {
    font-family: 'HeHe',serif;
    color: #ffffffb7;

    background-image: url(./background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;

    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 32px;
    font-weight: 100;

    margin: 5px;
}

h2 {
    margin: 20px;
    margin-bottom: 0px;
}

p {
    font-weight: 100;
    font-size: 20px;

    margin-bottom: 50px;
}

a {
    color: #4ea7ff;
}

a:active {
    color: #4e7aff;
}

.page-wrapper {
    margin: 50px;
}

.centered-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panel {
    background-color: #ffffff08;
    
    padding: 30px;
    border-radius: 8px;
    border: 2px solid #ffffff05;

    backdrop-filter: blur(12px);

    -webkit-box-shadow: -4px 4px 19px 6px rgba(0,0,0,0.3); 
    box-shadow: -4px 4px 19px 6px rgba(0,0,0,0.3);
}

.row-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.divider {
    background-color: #ffffff58;

    margin-top: 20px;
    margin-bottom: 20px;

    width: 80%;
    height: 2px;

    filter: blur(2px);
}

.avatar {
    width: 80px;
    height: 80px;

    -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.42); 
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.42);
    
    border-radius: 40px;
}

.social-img {
    opacity: 0.7;

    width: 25px;
    height: 25px;

    padding-left: 10px;
    padding-right: 10px;

    transition: 0.5s;
}

.social-img:hover {
    transform: scale(1.1);
}

::selection {
    background-color: rgba(159, 89, 216, 0.382);
}

::-moz-selection {
    background-color: rgba(159, 89, 216, 0.382);
}